*~
model.log
*/input.csv
__pycache__
.python-version
/output/*
metadata/*
venv/
.DS_Store
.Rhistory
.Rproj.user/
released_output/*
reports/pharmacy_first_data_development.html
reports/resources/*
reports/pharmacy_first_data_development_files/*
publish
justfile
reports/_publish_ids.yml
lib/validation/data/df_bsa_validation.csv
reports/pharmacy_first_data_development.docx
lib/validation/data/psnc_dashboard_25_26.csv
lib/validation/data/pf_consultation_validation_data_full.csv
lib/validation/data/icb_pop.csv
lib/validation/data/icb_lookup.csv
lib/validation/data/gp_suppliers.csv
lib/validation/data/gp_prac_pop.csv
lib/validation/data/epraccur.csv
lib/validation/data/df_bsa_validation_full.csv
sketch.R
counts_by_icb.csv
